{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "dynamicImport": true
    },
    "target": "es2016"
  },
  "env": {
    "targets": "> 1%, not dead, not ie 11, not op_mini all"
  }
}
